<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Route</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchStyles.css') }}">
</head>

<body class="flight-route-page">
    <h1>Flight route from {{ origin }} to {{ destination }}</h1>

    <div class="content-container">
        <div id="map-container">
            {{ map_html|safe }}
        </div>

        <table>
            <tr>
                <th>Duration (min)</th>
                <th>Stops</th>
                <th>Price</th>
                <th>Airline</th>
                <th>Details</th>
            </tr>
            {% for route in routes %}
            <tr>
                <td>{{ route.duration }} min</td>
                <td>{{ route.stops }}</td>
                <td>{{ route.price }} {{ route.currency }}</td>
                <td>
                    {% for segment in route.segments %}
                        {{ segment['carrierCode'] }}<br>
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        {% for segment in route.segments %}
                        <li>{{ segment['departure']['iataCode'] }} -> {{ segment['arrival']['iataCode'] }}: {{ segment['departure']['at'] }} - {{ segment['arrival']['at'] }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
